Tests:
 testsuite testsuite-ninja findmodules,
Restrictions:
 allow-stderr,
Depends:
 bison,
 cmake,
 cvs,
 default-jdk,
 doxygen,
 flex,
 gettext,
 git,
 hspell,
 icoutils,
 imagemagick,
 libarchive-dev,
 libarmadillo-dev,
 libasound2-dev,
 libboost-dev,
 libbz2-dev,
 libcups2-dev,
 libcurl4-openssl-dev,
 libexpat1-dev,
 libfreetype6-dev,
 libgif-dev,
 libgnutls28-dev,
 libgtk2.0-dev,
 liblzma-dev,
 libmagick++-dev,
 libmagickcore-dev,
 libmagickwand-dev,
 libopenscenegraph-dev,
 libphysfs-dev,
 libprotobuf-dev,
 libtiff5-dev,
 libxml2-dev,
 libxslt1-dev,
 mercurial,
 ninja-build,
 perl,
 pkg-config,
 protobuf-compiler,
 python3-dev,
 ruby-dev,
 subversion,
 swig,
 zlib1g-dev,
 @builddeps@,
